:root {
    --blue: #3751FE;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.side {
    position: absolute;
    width: 15rem;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo {
    width: 6rem;
}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navigation button {
    width: 13rem;
    height: 2.4rem;
    margin-top: 0.2rem;
    border-radius: 12px;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation img {
    width: 1.5rem;
    margin-left: 0.33rem;
    margin-right: 0.5rem;
}

.sidebarButton:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}


/* .sidebarButton:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
} */

@keyframes SidebarButtonActivate {
    0% {
        background-color: #f5f5f52f;
    }
    100% {
        background-color: #f5f5f54d;
    }
}

.sidebarButton.active {
    animation: SidebarButtonActivate 200ms ease-in-out;
    background-color: #f5f5f54d;
}

.navigation .spacer {
    flex: 1;
}

#beallitasok:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}

#kijelentkezes:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}

#beallitasok:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
}

#kijelentkezes:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
}


/* .category-div{
    position: absolute;
    height: 20%;
    width: 13rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.267);
    top: 31rem;
    left: 3.4rem;
}

.category-div p{
    color: white;
    font-size: 0.8rem;
    height: 0rem;
    margin-top: 0.5rem;
    text-align: center;
}

.category-hr{
    height: 0.05rem;
    margin-top: 1.2rem;
    background-color: rgba(255, 255, 255, 0.171);
} */

.content {
    position: absolute;
    top: 4rem;
    left: 15rem;
    bottom: 0;
    right: 0;
    padding: 1rem;
    overflow: auto;
}

#top-vonal {
    height: 0.12rem;
    background-color: var(--blue);
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 15rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: white;
    box-shadow: 0 5px 10px 0 #00000010;
}

#kereses {
    padding-left: 1rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    border-color: #35353528;
    outline: none;
    color: #353535;
    font-size: 1rem;
    background-color: #3752fe21;
}

#kereses:focus {
    border-color: #3752fe81;
    transition-duration: 0.1s;
}

.navbar .search {
    display: flex;
    align-items: center;
    position: relative;
}

#kereses-icon {
    position: absolute;
    right: 0.5rem;
    width: 1.4rem;
    height: 1.2rem;
}

#top-vonal {
    margin-top: 1rem;
}

.no-mobile {
    display: none;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #bddafc;
    position: absolute;
    text-align: center;
}

.no-mobile h1 {
    width: 400px;
    color: #2b2b2be0;
}

@media (max-width: 680px) {
    .no-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: fadein 0.6s;
        animation: fadein 0.6s
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}