:root {
    --blue: #3751FE;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.side {
    position: absolute;
    width: 15rem;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo {
    width: 6rem;
}

.navigation {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navigation button {
    width: 13rem;
    height: 2.4rem;
    margin-top: 0.2rem;
    border-radius: 12px;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navigation img {
    width: 1.5rem;
    margin-left: 0.33rem;
    margin-right: 0.5rem;
}

.sidebarButton:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}


/* .sidebarButton:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
} */

@keyframes SidebarButtonActivate {
    0% {
        background-color: #f5f5f52f;
    }
    100% {
        background-color: #f5f5f54d;
    }
}

.sidebarButton.active {
    animation: SidebarButtonActivate 200ms ease-in-out;
    background-color: #f5f5f54d;
}

.navigation .spacer {
    flex: 1;
}

#beallitasok:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}

#kijelentkezes:hover {
    background-color: #f5f5f52f;
    transition-duration: 0.1s;
}

#beallitasok:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
}

#kijelentkezes:focus {
    background-color: #f5f5f54d;
    transition-duration: 0.2s;
}

.content {
    position: absolute;
    top: 4rem;
    left: 15rem;
    bottom: 0;
    right: 0;
    padding: 1rem;
    overflow: auto;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 15rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: white;
    box-shadow: 0 5px 10px 0 #00000010;
}

#kereses {
    padding-left: 1rem;
    height: 2.5rem;
    width: 20rem;
    border-radius: 5px;
    border-color: #35353528;
    outline: none;
    color: #353535;
    font-size: 1rem;
    background-color: #3752fe21;
}

#kereses:focus {
    border-color: #3752fe81;
    transition-duration: 0.1s;
}

.navbar .search {
    display: flex;
    align-items: center;
    position: relative;
}

#kereses-icon {
    position: absolute;
    right: 0.5rem;
    width: 1.4rem;
    height: 1.2rem;
}

.profil-nav {
    position: absolute;
    right: 0%;
    display: flex;
    margin-right: 1rem;
    color: #353535;
}

#profil-button {
    border-radius: 50%;
    margin-left: 1rem;
}

.profil-header {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--blue);
    text-align: center;
    height: 3rem;
    width: 20rem;
    color: white;
    align-items: center;
}

.data {
    position: absolute;
    top: 5rem;
    margin-left: 0.5rem;
    color: #353535;
}

.data p {
    color: #3751FE;
    font-size: large;
}

.profil-span {
    font-size: large;
    color: #353535;
}

.profil-data-button-div {
    position: absolute;
    height: 10rem;
    width: 20rem;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5rem;
    z-index: 1000;
}

.profil-data-button {
    width: 13rem;
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #3751fe;
}

.profil-data-button:hover {
    transition-duration: 0.2s;
    background-color: #3752fee0;
}

.profil-data-button:active {
    transition-duration: 0.1s;
    transform: translateY(1px);
    background-color: #3752febe;
}

#profil {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 4rem;
    right: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 0 5px 10px 0 #00000010;
    background-color: rgb(248, 248, 248);
}

#profil.slideIn {
    position: absolute;
    right: -20rem;
    visibility: visible;
    -webkit-animation: slideIn 0.6s forwards;
    animation: slideIn 0.6s forwards;
}

@-webkit-keyframes slideIn {
    100% {
        right: 0;
    }
}

@keyframes slideIn {
    100% {
        right: 0;
    }
}

#profil.slideOut {
    position: absolute;
    right: 0;
    visibility: visible;
    -webkit-animation: slideOut 0.6s forwards;
    animation: slideOut 0.6s forwards;
}

@-webkit-keyframes slideOut {
    100% {
        right: -20rem;
    }
}

@keyframes slideOut {
    100% {
        right: -20rem;
    }
}

.no-mobile {
    display: none;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #bddafc;
    position: absolute;
    text-align: center;
}

.no-mobile h1 {
    width: 400px;
    color: #2b2b2be0;
}

@media (max-width: 680px) {
    .no-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: fadein 0.6s;
        animation: fadein 0.6s
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}