body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #268bff1a;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 23rem;
    border-radius: 10px;
    background-color: #3751fe;
}

.side {
    border: 3px solid #3751fe;
    width: 65%;
    height: 22.6rem;
    border-radius: 10px;
    margin-left: 35%;
    background-color: white;
}

.bejelentkezes-szoveg {
    margin-left: 2rem;
    font-size: 1.8rem;
    margin-top: 3rem;
    font-weight: bold;
    color: #3751fe;
}

.inputok input {
    height: 2.2rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(99, 99, 99);
    border-color: #268bff75;
    padding-inline-start: 1rem;
    color: #3b3b3b;
    transition: 0.1s;
    outline: none;
}

.inputok input::placeholder {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 0.9rem;
    padding-left: 0.1rem;
}

input:focus {
    border-color: #3751fe;
}

input:active {
    border-color: #3751fe;
}

#email-vagy-felhasznalo-input {
    margin-left: 2rem;
    width: 21.2rem;
}

#jelszo-input {
    margin-left: 2rem;
    width: 21.2rem;
}

#bejelentkezes-gomb {
    width: 13rem;
    height: 2rem;
    margin-left: 6.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #3751fe;
    cursor: pointer;
}

#bejelentkezes-gomb:hover {
    transition-duration: 0.2s;
    background-color: #3752fee0;
}

#bejelentkezes-gomb:active {
    transition-duration: 0.1s;
    transform: translateY(1px);
    background-color: #3752febe;
}

.regisztracio-link {
    position: absolute;
    top: 75%;
    left: 2.6rem;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

#link-szoveg {
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b1b1b1;
}

#logo {
    position: absolute;
    left: 4rem;
    top: 3.8rem;
    width: 6rem;
}

#password-reset-button {
    width: 4rem;
    height: 1.9rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #3751fe;
    cursor: pointer;
}

#password-reset-button:hover {
    transition-duration: 0.2s;
    background-color: #3752fee0;
}

#password-reset-button:active {
    transition-duration: 0.1s;
    transform: translateY(1px);
    background-color: #3752febe;
}

#password-reset-input {
    height: 1.7rem;
    margin-left: 5rem;
}


/* Password reset show animation */

#forgot-password-link {
    visibility: visible;
    position: fixed;
    font-size: 0.87rem;
    margin-left: 8rem;
    margin-top: 3rem;
    color: #3751fe;
    cursor: pointer;
}

#forgot-password-link.hide-link {
    visibility: hidden;
    -webkit-animation: fadeout 1s;
    animation: fadeout 1s;
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#forgot-password-link:visited {
    color: #3751fe;
}

#forgot-password-link:hover {
    color: #1f3aebc2;
    transition-duration: 0.2s;
}

#password-reset-div {
    visibility: hidden;
}

#password-reset-div.show-div {
    visibility: visible;
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.8s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* toast */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(255, 40, 40, 0.678);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.no-mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bddafc;
    opacity: 0;
    transition: all 200ms ease-in-out;
    overflow: hidden;
}

.no-mobile h1 {
    max-width: 80%;
    font-size: 24px;
    color: #2b2b2be0;
    text-align: center;
}

.no-mobile h2 {
    max-width: 80%;
    font-size: 18px;
    color: #3751fe;
    text-align: center;
}

@media screen and (max-width: 680px) {
    .no-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
    .main {
        display: none;
    }
}