body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #268bff1a;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 30px;
  background-color: white;
  width: 30rem;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
  color: rgb(59, 59, 59);
  margin-bottom: 20px;
  margin-top: 0;
}
p {
  color: rgb(77, 77, 77);
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
}
a {
  color: rgb(58, 58, 58);
  text-decoration: none;
  background-color: #3751fe;
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 6px 13px 6px 14px;
  font-weight: 500;
}
a:visited {
  color: white;
  text-decoration: none;
  background-color: #3751fe;
  font-size: 0.9rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px 10px 10px 10px;
}
a:hover {
  transition-duration: 0.2s;
  background-color: #5d71f3;
}
a:active {
  transition-duration: 0.1s;
  transform: translateY(1px);
  background-color: #3752febe;
}
