:root {
    --blue: #3751FE;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #268bff1a;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 33rem;
    border-radius: 10px;
    background-color: var(--blue);
}

.side {
    border: 3px solid var(--blue);
    width: 65%;
    height: 32.6rem;
    border-radius: 10px;
    margin-left: 35%;
    background-color: white;
}

.regisztracio-szoveg {
    margin-left: 2rem;
    font-size: 1.8rem;
    margin-top: 3rem;
    font-weight: bold;
    color: var(--blue);
}

.inputok input {
    height: 2.2rem;
    margin-top: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(99, 99, 99);
    border-color: #268bff75;
    padding-inline-start: 1rem;
    color: #3b3b3b;
    transition: 0.1s;
    outline: none;
}

.inputok input::placeholder {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 0.9rem;
    padding-left: 0.1rem;
}

input:focus {
    border-color: var(--blue);
}

#vezeteknev-input {
    margin-left: 2rem;
    width: 9.4rem;
}

#keresztnev-input {
    margin-left: 0.8rem;
    width: 9.5rem;
}

#email-input {
    margin-left: 2rem;
    width: 21.2rem;
}

#felhasznalo-input {
    margin-left: 2rem;
    width: 21.2rem;
}

#jelszo-input {
    margin-left: 2rem;
    width: 21.2rem;
}

#togglePassword {
    position: absolute;
    margin-left: -2.2rem;
    margin-top: 1.75rem;
    color: var(--blue);
    cursor: pointer;
}

#togglePassword:hover {
    color: #3a54fad0;
    transition-duration: 0.4s;
}

#jelszo-megint-input {
    margin-left: 2rem;
    margin-top: 0.6rem;
    width: 21.2rem;
}

#szuletes-input {
    margin-left: 0.8rem;
    width: 11rem;
    padding-left: 0.8rem;
    color: #4d4d4d;
    padding-inline-start: 1.4rem;
}

#szuletes-span {
    margin-left: 4.4rem;
    color: #2e2e2e;
    font-size: 0.9rem;
}

#regisztracio-gomb {
    width: 13rem;
    height: 2rem;
    margin-left: 6.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--blue);
    cursor: pointer;
}

#regisztracio-gomb:hover {
    transition-duration: 0.2s;
    background-color: #3752fee0;
}

#regisztracio-gomb:active {
    transition-duration: 0.1s;
    transform: translateY(1px);
    background-color: #3752febe;
}

.belepes-link {
    position: absolute;
    top: 80%;
    left: 4rem;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

#link-szoveg {
    font-weight: 500;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b1b1b1;
}

#logo {
    position: absolute;
    left: 3.8rem;
    top: 3.8rem;
    width: 7rem;
}

#jelszo-erosseg {
    height: 0.2rem;
    border-radius: 5px;
    margin-left: 2.7rem;
    margin-top: 0.3rem;
    max-width: 21.5rem;
}


/* toast */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(255, 40, 40, 0.678);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.no-mobile {
    display: none;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #bddafc;
    position: absolute;
    text-align: center;
}

.no-mobile h1 {
    width: 400px;
    color: #2b2b2be0;
}

@media (max-width: 680px) {
    .no-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-animation: fadein 0.6s;
        animation: fadein 0.6s
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}